body {
    background-color: red;
}

  button {
    --c: whitesmoke; /* the color*/
    
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
  }
  button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
  }
  button:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
  }
  button {
    font-family: system-ui, sans-serif;
    font-size: 12px;
    cursor: pointer;
    padding: 12px, 10px;
    font-weight: bold;  
    border: none;
    background-color: black;
    color: red;
    font-family: Lucida Console;
    float: right;
    margin: 5em; 
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }

  h2 {
    font-size: 35px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: Lucida Console;
  }

  .detailsImg {
    width: 14em;
    
  }

  .genres {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 24px;
    font-family: Lucida Console;
  }

  p {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 14px;
    font-family: Lucida Console;
    margin: 0 3em ;
  }
  